---
http_interactions:
- request:
    method: get
    uri: https://api.geoapify.com/v1/geocode/search?apiKey=<apiKEY>&format=json&text=UnknownCountry
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
      Content-Disposition:
      - inline; filename=response.json
    body:
      encoding: ASCII-8BIT
      string: '{"results":[],"query":{"text":"UnknownCountry","parsed":{"street":"unknowncountry","expected_type":"unknown"}}}'
  recorded_at: Mon, 10 Jun 2024 16:56:23 GMT
recorded_with: VCR 6.2.0
