---
http_interactions:
- request:
    method: get
    uri: https://api.geoapify.com/v1/geocode/search?apiKey=<apiKEY>&format=json&text=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"statusCode":400,"error":"Bad Request","message":"\"text\" is not
        allowed to be empty"}'
  recorded_at: Mon, 10 Jun 2024 16:56:22 GMT
recorded_with: VCR 6.2.0
